.page {
  background-color: #dee1ec;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-bottom: solid 4px #a88335;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.navbar{
  /* background-color: #a88335; */
}
.nav-bar-item {
  text-decoration: none;
  color: #a88335;
}

.nav-bar-item:hover {
  color: #dcb634;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.form-control{
  width: 60% !important;
}
.searchbar{
  margin-top: 28px;
}
.icon-log{
  color: #a88335;
}